body {
    background-image: url("../Images/miku_wallpaper.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

html *
{
   font-family: Calibri !important;


}

/* Container */

#d_network_container {
    position: absolute;
    left: 4%;
    top: 12%;
    width: 23%;
    height: 20%
}

#d_cpu_container {
    position: absolute;
    left: 4%;
    width: 23%;
    height: 50%;
    top: 40%;
}

#d_memory_container {
    position: absolute;
    left: 30.5%;
    width: 10.5%;
    height: 50%;
    top: 40%;
}

#d_date_container {
    position: absolute;
    left: 70%;
    top: 60%;
    height: 30%;
    width: 26%;
}

#d_teamspeak_container {
    position: absolute;
    left: 44.5%;
    width: 20%;
    height: 50%;
    top: 40%;
}


/* teamspeak styling*/
.d_teamspeak_user_container{
   
}

.d_teamspeak_user_entry{
     display: block;
}
#d_teamspeak_my_user_name{
     font-weight: bold;
}
.d_teamspeak_user_status_icon{
    width: 18%;
}

.d_teamspeak_user_status_icon_normal{
  fill: #94d31b;
    background-image: url("../icons/normal.svg");
}

.d_outer_bar{
    position: relative;
    border-radius:18px;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 100%;
}

.d_inner_bar{
   position: absolute;
   bottom: 0px;
   border-radius:15px;
   	-webkit-transition:  height 1s ease;
	-moz-transition:  height 1s ease;
	-o-transition:  height 1s ease;
	transition: width 1s ease, height 2s ease;
}

.d_innerbar_value{
    color: rgba(54, 25, 25, 1);
    display: inline-block;
    font-size: 3.5vw;
    font-weight: bold;
    margin-left: 20px;
}

.d_cpu_bar {
    display: inline-block;
    height: 100%;
}



.d_container{

    background: rgba(54, 25, 25, .5);
    border-radius: 15px;
    border: 3px solid aqua;
    padding: 10px; 
}

.d_headline{
    font-size: 3vw;
    font-weight: bold;
    color: aqua;


}

.d_value{
    color: aqua;
    font-size: 3vw;
}

d_network_value_direction{
       width:25%;
}

.d_time.d_value {
    font-size: 7vw;
}

.d_date.d_value {
    font-size: 7vw;
}



.d_right{
    float:right;
}
.d_left{
    float:left;
}


.therm inner-therm vertical{
    font-size: 2em;
}

#d_cpu_info{
    height:15%;
}
#d_cpu_bar_container{
    height:70%;
}
#d_cpu_total_container{
       height:15%;
}
#d_memory_info{
   height:15%;
}
#d_memory_bar_container {
    height: 85%;
}