body {
    background-image: url("../Images/miku_wallpaper.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

html *
{
   font-family: Calibri !important;
}

#d_memory_container {
    position: absolute;
    left: 4%;
    top: 45%;
}

#d_date_container {
    position: absolute;
    left: 60%;
    top: 50%;
}

#d_network_container {
    position: absolute;
    left: 4%;
    top: 10%;
}

.d_container{

    background: rgba(54, 25, 25, .5);
    border-radius: 15px;
    border: 2px solid aqua;
    padding: 10px; 
}

.d_headline{
    font-weight: bold
}

.d_value{
    color:aqua;
    font-size: 2em;
}

.d_time.d_value {
    font-size: 5em;
}

.d_date.d_value {
    font-size: 5em;
}


.d_tablelike {
  display: table;
}

.d_tablelike div { 
  display: table-row;
}

.d_tablelike div span { 
  display: table-cell;
}
.d_right{
    text-align: right;
}
