body {
    background-image: url("../Images/miku_wallpaper.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#d_date_container {
    position: absolute;
    left: 60%;
}

.d_value {
    color:aqua;
}