body {
    background-image: url("../Images/miku_wallpaper.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#d_date_container {
    position: absolute;
    left: 60%;
    top: 55%;
    background: rgba(54, 25, 25, .5);




}

.d_container{

    border-radius: 25px;
    border: 2px solid aqua;
    padding: 20px; 
}

.d_value {
    color:aqua;
    font-size: 5em;
}